include components/0head
include components/1header
include components/2services
include components/3about
include components/4features
include components/5portfolio
include components/6team
include components/7pricing
include components/8clients
include components/9blog
include components/10footer