a {
    color: #646464;
}
hr {
    opacity: 1;
    height: 2px;
  }

  span {
      :first-child {
          height: 2px;
          width: 12px;
      }
      :last-child {
        height: 2px;
        width: 28px;
      }
  }
  .disc {
      opacity: .5;
  }
  .brand {
      color: $primary;
  }