
.header {
    &>div {
        background: url(./assets/images/header-bg.png) no-repeat center;
        @media screen and (min-width: 1200px) {
            min-height: calc(100vh - 10rem);
        }
    }
    background-image: linear-gradient(135deg, $header-gradient-1, $header-gradient-2);
    &-nav {
        .nav-link {
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }
    }
    .search-form {
        position: relative;
        i {
            position: absolute;
            right: 1rem;
            top: .33rem;
        }
    }
    &-content {
        &__image {
            background-image: url(./assets/images/header-ppl.png);
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}