.services {
    &-item {
      background-color: $light;
      border: 3px solid darken($light, 10%);
      position: relative;
      padding-bottom: 3rem;
      cursor: pointer;
      transition: .3s ease;
      &:hover {
        background-color: $white;
        border: 3px solid $primary;
        padding-bottom: 1.5rem;
        &>.services-item__link {
          transition-delay: .3s;
          transform: scale(1,1);
        }
      }
      &__icon {
        background-image: url(./assets/images/circle.png);
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: $dark;
      }
      &__link {
        width: 3rem;
        height: 3rem;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        position: absolute;
        bottom: -1.5rem;
        left: calc(50% - 1.5rem);
        transform: scale(0,0);
        transition: .3s cubic-bezier(.6,1.51,.68,.99);
      }
    }
}