section.section.bg-light
    .container
        .row.p-5
            .col-12.col-lg
                h1.text-primary.fw-bold Logo.
                p.mb-5 Lorem ipsum dolor sit amet, consectetur adipiscing <br>sed do eiusmod tempor incididunt labore et dolore
                    <br>magna aliqua. Ut enim ad minim veniam, quis
                    <br>nostrud exercitation ullamco laboris nisi ut aliquip
                    <br>ea commodo consequat.

            .col-2
                h5.mb-0.text-dark Our Links
                span.d-flex
                    hr.bg-primary.mt-0
                    hr.bg-primary.w-25.mt-0.mx-1
                ul.list-unstyled
                    li
                        a.text-decoration-none(href='#') Home
                    li.my-2 
                        a.text-decoration-none(href='#') About Us
                    li 
                        a.text-decoration-none(href='#') Services
                    li.my-2 
                        a.text-decoration-none(href='#') Team
                    li
                        a.text-decoration-none(href='#') Blog
            .col-2.mx-5
                h5.mb-0.text-dark Our Company
                span.d-flex
                    hr.bg-primary.mt-0
                    hr.bg-primary.w-25.mt-0.mx-1
                ul.list-unstyled
                    li
                        a.text-decoration-none(href='#') About Company
                    li.my-2  
                        a.text-decoration-none(href='#') Our Testimonials
                    li 
                        a.text-decoration-none(href='#') Get a free Quot
                    li.my-2  
                        a.text-decoration-none(href='#') Latest News
                    li
                        a.text-decoration-none(href='#') Our misson
            .col-2
                h5.mb-0.text-dark Our Services
                span.d-flex
                    hr.bg-primary.mt-0
                    hr.bg-primary.w-25.mt-0.mx-1
                ul.list-unstyled
                    li
                        a.text-decoration-none(href='#') App Development
                    li.my-2  
                        a.text-decoration-none(href='#') Web Development
                    li 
                        a.text-decoration-none(href='#') Graphic Design
                    li.my-2  
                        a.text-decoration-none(href='#') Web Solution
                    li
                        a.text-decoration-none(href='#') App Design
    .container.px-5.d-flex.mb-5
        .bg-primary.rounded-circle.p-3.shadow
        .border.border-primary.rounded-circle.p-3.mx-3
        .border.border-primary.rounded-circle.p-3

    hr.bg-primary
    p.text-center.disc @ Copyright 2020 <span class='brand'>Brandoxide</span>.All rights reserved.

