section.section.about.container
    .row
        .col-lg-5.d-none.d-lg-block
            img.img-fluid(src="/images/about.jpg")
        .col.col-lg-6.ms-auto.py-3
            div
                h5 about us
                h2.h1 we design, build brands
                    div & digital projects
            img.img-fluid.d-block.d-lg-none.mb-3(src="/images/about.jpg")
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam beatae corporis culpa earum exercitationem fuga fugiat laboriosam non officiis suscipit, veniam! Assumenda molestiae placeat saepe voluptates. Dolorum, facilis rem!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloremque incidunt nisi quia quis repellendus.
            a.btn.btn-primary.rounded-pill.mt-3(href='#') Read more