section.section.container.portfolio
    .glide
        .glide__track(data-glide-el="track")
            ul.glide__slides
                li.glide__slide.bg-danger 0
                li.glide__slide.bg-danger 0
                li.glide__slide.bg-danger 0
                li.glide__slide.bg-danger 0
                li.glide__slide.bg-danger 0
                li.glide__slide.bg-danger 0
        div(data-glide-el="controls")
            button(data-glide-dir="<") Prev
            button(data-glide-dir=">") Next
