section.section.clients.container-fluid.text-white.py-5.text-center
    .container.py-5
        h2.text-white We’re trusted by clients
        .row.row-cols-1.row-cols-lg-2.g-3.g-lg-4
            .col
                .clients-item.p-3.border.border-info
                    img.rounded-circle.my-3(src='./images/clients/client1.jpg')
                    p.fw-medium.fs-5.mb-0 Happy Stephenson
                    p.text-uppercase Consultant
                    p.w-75.mx-auto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate magni perspiciatis quam sequi, soluta vitae voluptatem? A accusantium alias cumque cupiditate distinctio dolorem earum et exercitationem illo libero nihil tempore, veniam veritatis. Consectetur distinctio
            .col
                .clients-item.p-3.border.border-info
                    img.rounded-circle.my-3(src='./images/clients/client2.jpg')
                    p.fw-medium.fs-5.mb-0 Roxanne Brown
                    p.text-uppercase Designer
                    p.w-75.mx-auto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate magni perspiciatis quam sequi, soluta vitae voluptatem? A accusantium alias cumque cupiditate distinctio dolorem earum et exercitationem illo libero nihil tempore, veniam veritatis. Consectetur distinctio

