$primary: #2370C8;
$secondary: #E0E0E0;
$info: #6AB0FF;
$light: #F2F9FF;
$dark: #262A4E;
$body-color: #646464;

$input-padding-x: 1rem;
$input-color: $primary;

$header-gradient-1: #122E99;
$header-gradient-2: #2370C8;


// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "~@icon/icofont/icofont.css";
@import "~@glidejs/glide/src/assets/sass/glide.core";
@import "~@glidejs/glide/src/assets/sass/glide.theme";

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
::placeholder {
    color: desaturate(lighten($primary, 10%), 30%) !important;
}
.btn {
    padding: .5rem 2rem;
}

.section {
    margin-top: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h2 {
        color: $dark;
        text-transform: capitalize;
        margin-bottom: 2rem;
    }
    h5 {
        color: $primary;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
}

@import './styles/header';
@import './styles/services';
@import './styles/features';
@import './styles/portfolio';
@import './styles/team';